.sidechatcontainer{
    display: flex;
    cursor: pointer;
}
.sidechatcontainer:hover{
    background-color: #ebebeb;
}
.sidechatavatar{
    align-self: center;
    margin-left: 5px;
}
.info{
    align-self: center;
    width: 100%;
    margin-left: 10px;
    border-bottom: solid 1.8px #dadbd3;
    margin-top: 5px;
}